/*main=main, item=image*/

.img-box{
	column-count: 3; #указываем количество колонн
	/*column-gap: 0px; #отступ между нашими колонами*/
}

.image{
	max-width: 100%; #максимальная ширина картинки в 100% от всей ширины колонны 
	/*display: block; #отображение плиткой*/
	background-position: center;
	background-size: cover;

}
.img + .image {
	margin: 0px; #отступы между изображениями
}
.main{
	margin: 30px;
	padding: 15px;
	background-color: rgba(0, 50, 223, 0.5);
	box-shadow: 0 0 30px 1px rgba(0, 50, 223, 1.0);
	flex-wrap: wrap;
}
body {
	background-color: #eee;
}
.heading {
	font-size: 48px;
	text-align: center;
}
